body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #add8e6;
    font-family: Helvetica, sans-serif;
    width: 100%;
    background: linear-gradient(to bottom, #add8e6 0%, white  90%, transparent 50%, transparent 100%);
}
ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
.main-panel{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin-top: 1%;
    position: relative;
    margin: auto;
}
.title-cart-panel{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #add8e6;
    position: fixed;
    z-index: 99;
    transition: 0.3s ease-in-out;
}
.title-cart-panel h1{
    flex-grow: 8;
    margin: 0% 0% 0% 0.5%;
    padding: 1% 0%;
    font-size: 2.5em;
}
.title-cart-panel div{
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: right;
    margin: auto 2% auto 0%;
    gap: 2%;
}
.title-cart-panel div button{
    height: 40%;
    margin: 0% 10% 0% 0%;
}
.title-cart-panel div span{
    margin: 0% 0% 0% 5%;
    font-size: 1.25em;
    font-weight: bolder;
    color: rgb(145, 30, 30);
}
#check-out-cart{
    background-image: url('../images/Shoes/cartlogo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 2em;
    height: 2em;
}




.category-panel{
    width: 100%;
    height: 4vh;
    margin: 5.4% 0% 0% 0%;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #87ceeb;
}
.news-button{
    width: fit-content;
    min-height: inherit;
    margin: 0% 0% 0% 2%;
    padding: 2% 0%;
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;

}
.category-button-news{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin: 7.6% auto 0% auto;
    align-content: center;
    width: 100%;
    height: 30%;
    background-color: whitesmoke;
    overflow: hidden;
    z-index: 999;
}
.category-button-news div{
    min-height: inherit;
}
.category-button-news div:first-child{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5%;
    margin: 2% 0% 0% 2%;
}
.new-item-display-button{
   width: fit-content;
   border: none; 
   font-size: 0.9em;
   display: inline-block;
   overflow: hidden;
   position: relative;
   transition: color 0.5s ease-in-out;
   z-index: 2;
}
.new-item-display-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #87ceeb;
    transition: width 0.5s ease-in-out;
    z-index: -1;
}
.new-item-display-button:hover{
    cursor: pointer;
}
.new-item-display-button:hover::before{
    width: 100%;
    left: 0;
}
.new-item-panel{
    width: 80%;
    height: 100%;
    display: none;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(119, 228, 255, 0.1);
    opacity: 0.8;
    margin: 0;
}
.news-descript{
    display: flex;
    width: 10%;
    height: inherit;
    margin: 0% 0% 0% 0%;

}
.news-descript span{
    width: fit-content;
    display: flex;
    align-self: left;
}
.news-descript span:first-child{
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}
.news-descript span:nth-child(2){
    font-size: 0.8em;
    margin: 10% 0% 0% 0%;
}
.news-descript span:last-child{
    font-size: 0.7em;
    margin: 15% 0% 0% 0%;
}
.new-item-panel p{
    width:60%;
    display: flex;
    text-align: left;
    margin: 2% 0% 0% 0%;
    font-size: 0.8em;
    line-height: 1.5em;
}
.newsItemActive{
    background-color: #87ceeb;
    border-radius: 2em;
}
#news-1{
    display: flex;
}
.category-button-news div:nth-child(3),
.category-button-news div:nth-child(4),
.category-button-news div:nth-child(5){
    padding-left: 5%;
    padding-right: 5%;
}
.new-item-panel img{
    width: 30%;
    max-width: 30%;
    max-height: 100%;
    min-width: 10%;
    min-height: 80%;
    margin: auto 5% auto 2%;
    border-radius: 2em;
    border: 1px #4682b4 solid;
}
.news-button:hover .category-button-news{
    display: flex;
    position: absolute;
    animation: slide 600ms ease-in-out;
    top: 0;
    z-index: 1;
}
    @keyframes slide {
        from{
            margin-top: -10%;
           
        }
        to{
            margin-top: 7.6%;
            
        }
    }
.category-button {
    width: fit-content;
    min-height: inherit;
    margin: 0% 0% 0% 2%;
    padding: 2% 0%;
    border: none;
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;
        
}
.category-button-panel{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin: 7.6% auto 0% auto;
    align-content: center;
    width: 100%;
    height: 30%;
    background-color: whitesmoke;
}
.category-button-panel div{
    width: 20%;
    height: 90%;
    margin-top: 0%;
    text-align: center;
    margin: auto;
}
.category-images span{
    margin: 2% 0%;
    font-size: 1.2em;
}
.category-button-panel button{
   width: 100%;
   height: 100%;
   border: none;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-items: center;
   border-radius: 2em;
   
}
.category-images img{
    width: 100%;
    height: 90%;
    margin: 0%;
    border-radius: 2em;
    opacity: 0.5;
}
.category-images img:hover{
    opacity: 1;
    cursor: pointer;
}
.category-button:hover .category-button-panel{
    display: flex;
    position: absolute;
    animation: slide 600ms ease-in-out;
    z-index: 1;
}
    @keyframes slide {
        from{
            margin-top: -10%;
        }
        to{
            margin-top: 7.6%;
        }
    }

.filter-drop{
    min-height: inherit;
    overflow: hidden;
    margin: 0% 0% 0% 2%;
    padding: 2% 0;
    font-size: 1.2em;
    width: fit-content;
}
.filter-panel{
    width: 20%;
    height: 25%;
    margin: 7.6% auto 0% auto;
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 999;
}
.filter-panel-button{
    display: flex;
    margin: 0% 0% 0% 5%;
    height: 20%;
    width: 100%;
    padding: 0% 0% 5% 0%;
    
}
.filter-panel-button:first-child{
    width: 90%;
    margin: 5% auto 0 auto;
    gap: 5%;
}
.filter-panel-button button{
    width: inherit;
    height: fit-content;
    margin: 0% auto;
    background-color: #87ceeb;
    border-radius: 2em;
    border: none;
    font-size: 0.9em;
}
.filter-panel-button button:hover{
    font-weight: bold;
    cursor: pointer;
}


.filter-input-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.filter-input-panel-first{
    width: 100%;
    height: 30%;
    display: flex;
    margin: 0 auto;
}
.filter-gender {
    width: 100%;
    height: fit-content;
}
.filter-gender div {
    width: 50%;
    display: flex;
    padding-left: 5%;
}
.filter-gender div:first-child {
    margin-left: 5%;
}
.filter-season{
    width: 100%;
    height: 50%;
    margin: 8% auto 0% auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
     align-items: center;
    justify-content: center;
}
.filter-season div {
    width: 100%;
    display: flex;
    padding-left: 11%;
    margin-left: 10%;
}
.filter-season div:nth-child(2),
.filter-season div:nth-child(4){
    margin-left: 5%;
}
.filter-gender div input, 
.filter-season div input{
    width: 1.7em;
    height: 1.7em;
    margin: auto 0%;
    display: flex;
    justify-items: center;
}
.filter-gender div label, 
.filter-season div label{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto 0% auto 0%;
    height: fit-content;
}
.filter-season div label{
   display: flex;
   align-content: center;
}
.filter-gender div span, 
.filter-season div span{
    display: flex;
    align-items: center;
    margin: auto 0%;
    font-size: 0.7em;
    height: fit-content;
    padding-left: 5%;
}
.winter-input{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-items: center;
   
}
.spring-input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.summer-input{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.fall-input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*
.filter-input-panel div label{
    display: flex;;
    align-items: center;
    justify-items: center;
    margin: auto 0% auto 0%;
    height: fit-content;
}
.filter-input-panel div input{
    width: 1.7em;
    height: 1.7em;
    margin: auto 0;
    display: flex;
    justify-items: center;
    
}*/
.filter-drop:hover .filter-panel{
    display: flex;
    position: absolute;
    top: 0;
    left: 16%;
    animation: filterSlide 600ms ease-in-out;
    z-index: 1;
}
    @keyframes filterSlide {
        from{
            margin-top: -10%;
        }
        to{
            margin-top: 7.6%;
        }
    }
.drop-menu-items:hover{
    cursor: pointer;
}
.main-panel-upper{
    width: 100%;
    height: 20em;
    margin: 1% auto;
    position: relative;
}
*{
    box-sizing: border-box;
}
.main-panel-upper-h2{
    margin: 3% 0% 0% 2%;
    font-size: 2em;
     width: fit-content;
    backdrop-filter: blur(1px);   
}
.main-panel-upper div p{
    font-size: 1.5em;
    font-weight: bolder;
    width: fit-content;
    margin: 10% 0% 0% 2%;
    backdrop-filter: blur(1px);  
}
.upper-carousel-button{
    font-size: 2.2em;
    font-weight: bold;
    width: fit-content;
    margin: 1% 0% 0% 1.5%;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(0.75px);
}
.upper-carousel-button:hover{
    cursor: pointer;
}
.upper-carousel-button::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 0;
    border-bottom: 2px #87ceeb solid;
    transition: width 0.5s ease-in-out;
    z-index: -1;
}
.upper-carousel-button:hover::after{
    width: 100%;
}
.main-panel-upper-first{
    background-image: url('../images/upper-panel/summer.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 20em;
    width: 100%;
    flex-direction: column;
}
.main-panel-upper-second{
    background-image: url('../images/upper-panel/top-view-composition-with-neatly-arranged-organized-sport-items.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 20em;
    width: 100%;
}
.main-panel-upper-first-div{
    width: 40%;
}
.main-panel-upper-first-div:first-child h2{
    margin: 8% 0% 0% 5%;
}
.main-panel-upper-first-div:first-child p{
    margin: 24% 0% 0% 5%;
}
.main-panel-upper-first-div:first-child button{
    margin: 3% 0% 0% 3.5%;
}
.main-panel-upper-second-div{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2%;
    height: 100%;
    margin: 0% 5% 0% 20%;
}
.main-panel-upper-second-div div{
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: 35% 0% 0% 0%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2em;
}
.main-panel-upper-second-div div img{
    width: 100%;
    height: 80%;
    
}
.main-panel-upper-second-div div button{
    font-size: 1.2em;
    border: none;
    background-color: transparent;
}
.main-panel-upper-third{
    background-image: url('../images/upper-panel/tourism-items-arrangement-top-view.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 5px rgba(0,0,0,0.65);
    width: 100%;
    flex-direction: column;
}
.upper-carousel{
    display: none;
    height: 20em;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
.upper-carousel.upper-display{
    display: flex;
}
.upper-carousel-buttons{
    display: flex;
    width: 100%;
    max-height: 10%;
}
.left-upper, .right-upper{
    position: absolute;
    top: 50%;
    font-size: 3em;
    margin: auto;
    padding: 0;
    color: white;
    text-shadow: 1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 5px rgba(0,0,0,0.65);
    transform: translateY(-50%);
    cursor: pointer;
}
.left-upper{
    left: 1%;
}
.right-upper{
    right: 1%;
}
@keyframes fadeIn{
    from{opacity: 0.5;}
    to{opacity: 1;}
}



.item-panel{
    width: 96%;
    height: 100%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.clothe-panel{
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding-bottom: 2em;
}
.clothe-panel h2{
    margin: 1% 0% 1% 3%;
    font-size: 2.5em;
    font-weight: bolder;  
}
.item-title-category{
    color: #4682b4;
}
.clothing{
    width: 100%;
    display: flex;
    margin: 0% 0% 2% 2.5%;
    gap: 2%;
}
.clothing li{
    height: 80%;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 0%;
    background-color: white;
}
.item-descript{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-descript p{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 5% auto 0% auto;
}
.item-descript p span{
    height: 100%;
    font-size: 1em;
    font-weight: bolder;

}
.item-descript p:first-child{
    width: 45%;
}
.item-descript p:nth-child(2){
    width: 45%;
    height: 100%;
    display: flex;
    text-align: right;
}

.item-descript p:nth-child(3){
   width: 95%;
}
.item-descript img:nth-child(4){
    width: 13em;
    height: 12em;
    margin: 2% auto 0% auto;
    border-radius: 1em;
}
.item-descript p:nth-child(5){
   width: 90%;
   font-size: 0.85em;
   margin-top: 2%;
   margin-bottom: 5%;
}
.item-size{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.item-size h2{
    font-size: 1.25em;
    display: flex;
    align-self: center;
    margin: 0% 2% 5% 0%;
}
.item-size label{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-self: center;
}
.item-size label input[type="radio"]{
    display: none;
}
/*Use only when using checkbox*/
/*
.item-size label input[type="checkbox"]{
    display: none;
}
.item-size input[type="checkbox"]:checked + .select-size{
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
}*/
.select-size{
    font-size: .75em;
    border: 1px rgb(155, 150, 150) solid;
    display: flex;
    width: 80%;
    min-width: 20%;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
}
.item-size input[type="radio"]:checked + .select-size{
    background-color: #87ceeb;
    border-color: #4682b4;
    color: #111;
}
.clothing li label{
    margin: 0% 0% 5% 0%;
}
.item-cart-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0% auto 3% auto;
}
.item-cart-button span{
    width: 8%;
    margin: auto 5%;
    font-size: .85em;
    text-align: center;
}
.item-cart-button button:nth-child(2){
    margin: 0% 0% 0% 3%;
}
.item-cart-button button:nth-child(4){
    margin: 0% 3% 0% 0%;
}


.cart-content{
    display: none;
}

/*Cart*/
.checkout-button-li{
    width: 90%;
    margin: 3% auto 0% auto;
}
.checkout-button-li button{
    width: 100%;
}

.check-out-cart-panel{
    width: 20%;
    display: none;
    height: 100%;  
}
#display-cart{
overflow: auto;
}

#display-cart::-webkit-scrollbar{
    display: none;
}
.displayCart{
   /* border: 1px rgb(89, 88, 88) solid;
    display: flex;
    position: absolute;
    right: 0;
    top: 13%;
    width: 10%;
    z-index: 999;*/
    position: fixed;
    top: 0;
    right: -300px; 
    background-color: #f0f0f0;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    right: 0;
}
.hidden {
    display: none;
    border: none;
}
.navActive{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 0;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 2%;
        width: 20%;
        background-color: rgba(95, 115, 151, 0.15);
        backdrop-filter: blur(20px);
        color: whitesmoke;
        z-index: 9999;
        animation: slideIn 600ms ease-in-out;
        margin-bottom: 10%;
        
    }
    @keyframes slideIn {
        from{
            margin-right: -100%;
        }
        to{
            margin-right: 0%;
        }
    }
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 999; 
}    

#checkout-items{
    width: 100%;
    height: 90%;
    margin: auto 0%;
    overflow-y: auto;
    padding-bottom: 2%;
}
.checkingout{
    list-style-type: none;
}
.cart-content{
    width: 90%;
    margin: 1% auto 0% auto;
    padding: 2.5% 2%;
    display: flex;
    flex-direction: column;
    border: 1px rgb(175, 172, 172) solid;
}
.cart-content-item{
    width: 85%;
    height: 40%;
    margin: 1% auto 0% auto;
    padding: 1.5% 2%;
    display: flex;
    flex-direction: column;
    border: 1px rgb(175, 172, 172) solid;
    
}
.cart-payment{
    width: 85%;
    display: flex;
    margin: 0% 0% 0% 5%;
    gap: 16.5%;
}
.cart-payment button:last-child{
    width: 50%;
}
.cart-content p, .cart-content-item p{
    padding: 0;
    margin: 0;
}
.cart-content span, .cart-content-item span{
    padding: 0;
    margin: 0;
}
.cart-content img{
    width: 80%;
    margin: 0% auto;
}
.cart-content-item img{
    width: 10em;
    height: 10em;
    
    margin: 0% auto;
}
.cart-content h2, .cart-content-item h2{
    padding: 0;
    margin: 0;
}
.cart-content div, .cart-content-item div{
    width: 100%;
    margin: 0;
}
.item-descript-cart{
    font-size: 0.85em;
}
.item-descript-cart{
    display: flex;
    flex-direction: column;
}
.item-cart-button-cart{
    display: grid;
    grid-template-columns: repeat(7,14.28%);
}
.item-cart-button-cart button{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*For filter function*/
/*
.list-of-items.show{
    display: none;
}*/
/*
.owl-carousel-container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
}
.owl-carousel {
display: flex;
gap: 10px;
pointer-events: none;
position: absolute;
top: 0;
left: 0;
}*/
.owl-carousel-container, .owl-carousel-container-shoes{
    max-width: 100%;
    width: 100%;
    position: relative;
}
.carousel-item, .carousel-item-shoes{
    min-width: 23.8%;
    max-width: 25%;
    
}

.carousel-button{
  border: none;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 50%;
 /* transform: translateY(-50%);*/
  z-index: 1;
  background-color: transparent;
  
}
.carousel-button i{
    font-size: 2.5em;
}
.left, .left-shoes{
    left: -0.2%;
    width: 2.5em;
    height: 3em;
    color: #87ceeb;
}
.right, .right-shoes{
    right: -0.2%;
    width: 2.5em;
    height: 3em;
    color: #87ceeb;
}
.left:hover, .right:hover, .left-shoes:hover, .right-shoes:hover{
    color: #4682b4;
}
.owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes{
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.owl-carousel, .owl-carousel-shoes{
    width: 95%;
    margin: 0% auto;
}
.owl-carousel::-webkit-scrollbar, .owl-carousel-shoes::-webkit-scrollbar{
    display: none;
}
.owl-carousel :where(.carousel-item), .owl-carousel-shoes :where(.carousel-item-shoes){
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel.dragging, .owl-carousel-shoes.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.owl-carousel.no-transition, .owl-carousel-shoes.no-transition{
    scroll-behavior: auto;
}
.owl-carousel.dragging .carousel-item, .owl-carousel-shoes.dragging .carousel-item-shoes{
    cursor: grab;
    user-select: none;
}
@media screen and (max-width: 900px) {
    .owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes {
        grid-auto-columns: 100%;

    }
    
}
/*
.dot-indicator{
    margin: 0% auto;
    display: flex;
    justify-content: center;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover{
    background-color: #717171;
}
.dot.active{
     background-color: #312c2c;
}*/
.main-panel-lower{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.lower-panel-title{
    width: 100%;
}
.item-title-category-lower{
    margin: 2% 0% 2% 2%;
    color: #4682b4;
}
.lower-panel-content{
    width: 100%;
    min-width: 60%;
    min-height: 60%;
    display: flex;
    justify-content: center;
    gap: 2%;

}
.item-panel-lower{
    width: 25%;
    height: 70%;
    min-width: 20%;
    max-width: 23%;
    min-height: 30%;
    max-height: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.item-panel-lower div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    
}
.item-panel-lower div h4{
    width: fit-content;
    margin: 5% 0% 5% 7%;
    font-size: 1.2em;
}
.item-panel-lower div:nth-child(2){
    justify-content: center;
    gap: 6%;
    width: 100%;
    height: auto;
}
.item-panel-lower div:last-child{
    width: fit-content;
    margin: 5% 0% 5% 6%;
    display: flex;
    align-self: flex-start;
}
.item-panel-lower div a{
    text-decoration: none;
    font-size: 0.8em;
}
.item-panel-lower div button{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    border: none;
    background-color: transparent;
}
.item-panel-lower div button img{
    width: 100%;
    height: 100%;
}
.item-panel-lower div button:nth-child(3),
.item-panel-lower div button:nth-child(4){
   margin: 6% 0% 5% 0%;
}



footer{
    width: 100%;
    background-color: #4682b4;
    margin: 2% 0% 0% 0%;
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer div button{
    width: 100%;
    height: 15%;
    border: none;
    background-color: #1e90ff;
    padding: 1% 0%;
    font-size: 1em;
}
.contact-div{
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    justify-content:center;
    align-content: center;
    gap: 2%;
}
.contact-div div{
    width: 25%;
}
.contact-div img{
    width:40%;
    margin: 0% auto;
}
.contact-div-contents{
    display: flex;
    align-self: center;
}
.contact-div-contents a{
    text-decoration: none;
    font-size: 0.8em;
}
.alright-reserve{
    width: 100%;
    font-size: 0.6em;
    padding: 1% 0%;
    border-top: 1px #87ceeb solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.alright-reserve p{
    width: 30%;
    text-align: right;
}
.alright-reserve a{
    width: 2%;
    height: 2%;
}
.alright-reserve a img{
    width: 100%;
}